.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  border: 0.5rem solid var(--background-alt);
  border-radius: 50%;
  border-top: 0.5rem solid var(--primary-alt);
  width: 5rem;
  height: 5rem;
  transition: border-color 0.3s ease;
  animation: spin 2s linear infinite;
}
