<ul class="articles-list" [ngClass]="isCardView ? 'card-view' : 'list-view'">
  <li *ngFor="let article of articles">
    <a href="{{ article.url }}" target="_blank">
      <div class="card">
        <div class="card-image">
          <img src="{{ noImagePath }}" alt="">
          <img *ngIf="article.urlToImage" src="{{ article.urlToImage }}" alt="">
        </div>
        <div class="card-content">
          <div class="article-title">{{ article.title }}</div>
          <div class="article-content">
            {{ article.content ? article.content.substring(0, article.content.lastIndexOf(articleDelimiter)) : '' }}
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>