<section>
  <div class="max-width">
    <div class="title">
      <h2>{{ title }}</h2>

      <div class="select-view">
        <span class="btn-card-view" [ngClass]="{'selected': isCardView}" (click)="selectCardView(true)">
          {{ cardViewText }}
        </span>
        <span class="btn-list-view" [ngClass]="{'selected': !isCardView}" (click)="selectCardView(false)">
          {{ listViewText }}
        </span>
      </div>
    </div>

    <!-- TODO: filters -->

    <div>
      <app-loader *ngIf="isLoading"></app-loader>
      <app-error *ngIf="isError" [errorMessage]="errorMessage"></app-error>
      <app-articles *ngIf="!isLoading && !isError" [isCardView]="isCardView" [articles]="articles"></app-articles>
    </div>
  </div>
</section>